.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.text {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background-color: #f7f7f7;

  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

/*calendar*/

/*calendar*/

.textarea {
  border: none;
  border-radius: 12px;
  padding: 12px 20px 56px;
  width: 576px;
  height: 88px;
  background-color: #f7f7f7;

  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8d929a;
}

.submitBtn {
  border: none;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background-color: #3470ff;
  margin: 0 auto;

  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}
