.listWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carList {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1440px;
}

.listItem {
  flex: 1 1 calc((100% - 3 * 32px) / 4);
  min-width: 200px;
}
