.listWrapper {
  /* display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 120px;
  margin: 0 auto; */
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 26px 120px; */
}

.carList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 32px;
}
