.hero {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  height: calc(100vh - 72px);
  background-image: image-set(
    url("/hero-img/hero.jpg") 1x,
    url("/hero-img/hero@2x.jpg") 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 60px;
}

.heroInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.text {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.btn {
  border: none;
  border-radius: 12px;
  padding: 12px 99px;
  width: 276px;
  height: 44px;
  background-color: #3470ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnLink {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  text-wrap: nowrap;
}
