.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 84px;
  padding-bottom: 120px;
  padding-left: 120px;
  padding-right: 120px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.LoadMoreBtn {
  border: 1px solid #3470ff;
  border-radius: 12px;
  padding: 12px 51px;
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  text-align: center;
  text-wrap: nowrap;

  transition: all 0.2s ease;
}

.LoadMoreBtn:hover,
.LoadMoreBtn:focus {
  border-color: #0b44cd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.LoadMoreBtn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  transform: scale(0.98);
}
