.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 84px;
  padding-bottom: 104px;
  padding-left: 120px;
  padding-right: 120px;

  display: flex;
  gap: 72px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.image {
  border-radius: 19px;
  object-fit: cover;
  overflow: hidden;
}
